@font-face {
    src: url(../fonts/batmfa__.ttf);
    font-family: batsol;
}

@font-face {
    src: url(../fonts/batmfo__.ttf);
    font-family: batout;
}

@font-face {
    src: url(../fonts/Bebas-Regular.ttf);
    font-family: bebas;
}

html {
    background-color: black;
    scroll-behavior: smooth;
}

body {
    font-family: bebas;
    margin: 0%;
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.Main_Info {
    background-color: rgb(196, 196, 196);
    margin: 0 10% 0 10%;
}

.Content_Box {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    margin: 0;
}

.Content_Box h3 {
    font-family: batsol;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5vw;
    color: maroon;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Content_Box h4 {
    font-size: 2vw;
}

.Content_Box p {
    font-size: 1.3vw;
}

.Content_Box p a {
    color: rgb(83, 0, 0);
}

.Content_Box p a:hover {
    color: rgb(192, 0, 0);
}

.Content_Box::after {
    display: block;
    content: "";
    height: 2px;
    width: 90%;
    margin: 40px auto 0px;
    background: black;
    box-shadow: 0px 2px 2px 1px rgba(51, 51, 51, 0.541)
}

.Center {
    text-align: center;
}

.Justify {
    text-align: justify;
}

@keyframes movePopup{
    form {right: -40vw;}
    to {bottom: 1.75vw;}
}

.Pop_Up_Button {
    bottom: 1.75vw;
    right: 11.75vw;
    width: 18vh;
    height: 7vh;
    font-size: 2.5vh;
    background-color: darkgray;
    color: maroon;
    border: 2px solid maroon;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 11.75vw;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);
}

#Contact_Label {
    font-family: batsol;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    font-size: 3vw;
    color: maroon;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

.form-container label {
    font-size: 1.5vw;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    height: .5vw;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

button {
    font-size: 1.5vw;
    font-weight: bold;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
    font-family: batsol;
}

button:hover, .form-container .btn:hover {
    font-family: batout;
    font-weight: bold;
    color: maroon;
    background-color: black;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

.form-container .cancel:hover {
    color: black;
    background-color: maroon;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

td {
    padding: 5px;
}

.Double_Col {
    column-span: all;
}

#ab_img {
    width: 90%;
    float: right;
}

#ab_col_1 {
    width: 70%;
}

#ab_col_2 {
    width: 30%;
}

#gh_col_1 {
    width: 20%;
    padding-right: 20px;
}

#gh_col_2 {
    width: 80%;
}

q {
    font-style: italic;
    font-size: 90%;
}

#Code_Video {
    position: fixed;
    top: 0; 
    min-width: 100%;;
	min-height: 100%; 
	z-index: -1;
    filter: invert(10%) grayscale(100%);
}

.Video_Text {
    background: rgba(0, 0, 0, 0.75);
    color: maroon;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 20px;
    margin: 30px 10% 0 10%;
    padding: 0px 100px;
    text-align: center;
    font-weight: lighter;
}
.Video_Text h2 {
    margin: 0;
    padding: 20px 0px;
}

.Temp_Nav {
    overflow: hidden;
	background-color: black; 
	position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    border-bottom: 2px solid maroon;
}

.Temp_Nav a {
    font-family: batsol;
    color: gray;
    font-size: 1.5vw;
    margin: auto;
    padding: 7px 10px;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid black;
}

.Temp_Nav a:hover {
    border-bottom: 2px solid maroon;
    font-family: batout;
    cursor: pointer;
}

.Temp_Nav p {
    font-family: batout;
    font-weight: bold;
    position: fixed;
    top: 0;
    float: left;
    color: maroon;
    margin: 0;
    padding: 10px 20px;
    font-size: 1.5vw;
}

.Nav_Divider {
    display: inline-block;
    background: gray;
    height: 18px;
    width: 2px;
    
}

.BatFont {
    font-family: batsol;
    font-weight: bold;
}

footer {
    background-color: gray;
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 5px 30px;
}

#gh_photo {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid maroon;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.7);
}

#gh_photo_container {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

#gh_photo_container img {
    width: 200px;
    height: 200px;
    filter: brightness(80%);
    transition: transform .5s;
    transform-origin: 50% 50%;
}
#gh_photo_container:hover img {
    transform: scale(1.1)
}

#gh_photo_overlay {
    color: maroon;
    font-family: batsol;
    font-size: 22px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
#gh_photo_overlay:hover {
    font-family: batout;
    font-weight: bold;
}



